<% if @table.length > 0 %>
	<div class="row">
		<% @table.each do |line| %>
			<% name = line[0] %>
			<% url = line[1] %>
			<% reviews = line[2] %>
			<% stars = line[3] %>

		<h3><a href=<%= url %> target="_blank"><%= name %></a></h3>
		<span>Reviews: <%= reviews %></span>
		<span>Stars: <%= stars %></span>

		<% end %>
	</div>
<% else %>
	<div class="row">
		<center><h3>No Results Found!! </h3></center><br><br>
	</div>
<% end %>

<br><br>
<center>
<h2>Search Again</h2><hr class="star-primary">
<center>
<div class="form-group" style="width: 100%; float: left; padding: 5px;">
<form role="form" action='/' method="post">
  <input type="text" name="keyword" class="form-group" placeholder="Keyword">
  <input type="text" name="city" class="form-group" placeholder="City">
  <input type="text" name="reviews" class="form-group" placeholder="Reviews">
  <input type="text" name="stars" class="form-group" placeholder="Stars"><br>
  <input class="btn btn-default" type='submit' value='Search'>
</form>
</div>
</center>
