<center>
<div class="form-group" style="width: 100%; float: left; padding: 5px;">
<form role="form" action='/' method="post">
  <input type="text" name="keyword" class="form-group" placeholder="Keyword">
  <input type="text" name="city" class="form-group" placeholder="City">
  <!--<input type="text" name="reviews" class="form-group" placeholder="Reviews">
  <input type="text" name="stars" class="form-group" placeholder="Stars"><br>-->
		<select class="form-group input-sm" name="reviews">
			<option value="300"> reviews > 300 </option>
			<option value="500"> reviews > 500 </option>
			<option value="800"> reviews > 800 </option>
			<option value="1000"> reviews > 1000 </option>
			<option value="1300"> reviews > 1300 </option>
			<option value="1500"> reviews > 1500 </option>
			<option value="2000"> reviews > 2000 </option>
			<option value="3000"> reviews > 3000 </option>
		</select>
		<select class="form-group input-sm" name="stars">
			<option value="3.5"> stars >= 3.5 </option>
			<option value="4"> stars >= 4</option>
		</select><br>
  <input class="btn btn-default" type='submit' value='Search'>
</form>
</div>
</center>
