<center>
<div class="form-group" style="width: 100%; float: left; padding: 5px;">
<form role="form" action='/' method="post">
  <input type="text" name="keyword" class="form-group" placeholder="Keyword">
  <input type="text" name="city" class="form-group" placeholder="City">
  <!--<input type="text" name="reviews" class="form-group" placeholder="Reviews">
  <input type="text" name="stars" class="form-group" placeholder="Stars"><br>-->
		<select class="form-group input-sm" name="reviews">
			<option value="500"> > 500 reviews</option>
			<option value="800"> > 800 reviews</option>
			<option value="1000"> > 1000 reviews</option>
			<option value="1300"> > 1300 reviews</option>
			<option value="1500"> > 1500 reviews</option>
			<option value="2000"> > 2000 reviews</option>
			<option value="3000"> > 3000 reviews</option>
		</select>
		<select class="form-group input-sm" name="stars">
			<option value="4">4 stars</option>
			<option value="3">3 stars</option>
		</select><br>
  <input class="btn btn-default" type='submit' value='Search'>
</form>
</div>
</center>
