<center>
<div class="form-group" style="width: 100%; float: left; padding: 5px;">
<form role="form" action='/' method="post">
  <input type="text" name="keyword" class="form-group" placeholder="Keyword">
  <input type="text" name="city" class="form-group" placeholder="City">
  <input type="text" name="reviews" class="form-group" placeholder="Reviews">
  <input type="text" name="stars" class="form-group" placeholder="Stars"><br>
  <input class="btn btn-default" type='submit' value='Search'>
</form>
</div>
</center>
